In [1]:
s = "Suma"

In [2]:
type(s)

str

In [3]:
s[0]

'S'

In [4]:
s[1]

'u'

In [5]:
s[2]

'm'

In [6]:
s[3]

'h'

In [6]:
s[-1]

'a'

In [7]:
s[-2]

'm'

In [8]:
a = "my name is suma"

In [9]:
a[-1]

'a'

In [10]:
a[0]

'm'

In [11]:
a[100]

IndexError: string index out of range

In [12]:
a

'my name is suma'

In [13]:
a[0:10]

'my name is'

In [14]:
b = "rajkumar"

In [15]:
b[0:3]

'raj'

In [16]:
b[0:300]

'rajkumar'

In [17]:
b[300]

IndexError: string index out of range

In [18]:
b[-100]

IndexError: string index out of range

In [19]:
b[-1:-4]

''

In [20]:
b[0:4]

'rajk'

In [21]:
a = "kumar"

In [22]:
a[0:300:1]

'kumar'

In [23]:
a[0:300:3]

'ka'

In [24]:
a[0:100:-1]

''

In [25]:
a[-1:-4:-1]

'ram'

In [26]:
a[0:-10:-1]

'k'

In [27]:
a

'kumar'

In [28]:
a[::]

'kumar'

In [29]:
a[:8]

'kumar'

In [30]:
a[-2:-1]

'a'

In [31]:
a

'kumar'

In [32]:
a[::-1]

'ramuk'

In [33]:
a[-1::-1]

'ramuk'

In [35]:
a = "i am working with Google"

In [36]:
a[::-1]

'elgooG htiw gnikrow ma i'

In [37]:
a[-5:5:-1]

'oG htiw gnikro'

In [38]:
a[-2:-10:-1]

'lgooG ht'

In [39]:
a[0:100:3]

'imoi tGg'

In [40]:
"Jay"*3

'JayJayJay'

In [41]:
"Raj" + "kumar"

'Rajkumar'

In [42]:
a

'i am working with Google'

In [43]:
len(a)

24

In [44]:
"jay"*4

'jayjayjayjay'

In [45]:
a

'i am working with Google'

In [46]:
a.find('a')

2

In [47]:
a.find('ia')

-1

In [48]:
a.find('in')

9

In [49]:
a.count('i')

3

In [50]:
a.count('x')

0

In [51]:
a

'i am working with Google'

In [52]:
l = a.split()

In [53]:
l

['i', 'am', 'working', 'with', 'Google']

In [54]:
l[0]

'i'

In [55]:
l[1]

'am'

In [56]:
l[2]

'working'

In [57]:
l[0:3]

['i', 'am', 'working']

In [58]:
a.split('wo')

['i am ', 'rking with Google']

In [59]:
a

'i am working with Google'

In [60]:
a

'i am working with Google'

In [61]:
a.upper()

'I AM WORKING WITH GOOGLE'

In [63]:
s = "sUma"

In [64]:
s.swapcase()

'SuMA'

In [65]:
s.title()

'Suma'

In [66]:
s.capitalize()

'Suma'

In [67]:
b = "suma"
c = "Aravind"

In [68]:
b.join(c)

'Asumarsumaasumavsumaisumansumad'

In [70]:
" ".join("suma")

's u m a'

In [72]:
for i in reversed("suma"):
    print(i)

a
m
u
s

In [74]:
s= "suma"
s[::-1]

'amus'

In [78]:
s = " suma "

In [79]:
s.rstrip()

' suma'

In [80]:
s.lstrip()

'suma '

In [81]:
s.strip()

'suma'

In [82]:
s = "suma"

In [84]:
s.replace("a" , "xyz")

'sumxyz'

In [85]:
"raj\tkumar".expandtabs()

'raj     kumar'

In [86]:
s= "suma"

In [87]:
s.center(40 , '#')

'##################suma##################'

In [88]:
b="      indians are the best in the world"
b.strip("are")

'      indians are the best in the world'

In [89]:
b="      indians are the best in the world"
b.strip()

'indians are the best in the world'

In [90]:
s = "SUMA"

In [91]:
s.isupper()

True

In [92]:
s.islower()

False

In [93]:
s= "     "

In [94]:
s.isspace()

True

In [95]:
s = "43543"

In [96]:
s.isdigit()

True

In [98]:
s = "suma"

In [99]:
s.endswith('x')

False

In [100]:
s.startswith('s')

True

In [101]:
s.istitle()

False

In [102]:
s.encode()

b'suma'

In [103]:
s = "sdfsaf dsaf safasdf asdfsadfdas fadf dfa fadfa dsaf adfsa"

In [104]:
l = ["suma" , "kumar" , 3543 , 4+6j , True , 345.56]

In [105]:
type(l)

list

In [106]:
l[0]

'suma'

In [107]:
l[-1]

345.56

In [108]:
l[-5]

'kumar'

In [109]:
l

['suma', 'kumar', 3543, (4+6j), True, 345.56]

In [110]:
l[0:4]

['suma', 'kumar', 3543, (4+6j)]

In [111]:
l[::-1]

[345.56, True, (4+6j), 3543, 'kumar', 'suma']

In [112]:
l[-1:6]

[345.56]

In [113]:
type(l[0])

str

In [114]:
type(l[4])

bool

In [115]:
l[0][1]

'u'

In [116]:
l[3].imag

6.0

In [119]:
l1 = ["suma" , "kumar" , 4356]
l2 = ["xyz" , "pqr" , 546.567]

In [120]:
l1+l2

['suma', 'kumar', 4356, 'xyz', 'pqr', 546.567]

In [121]:
l1 + ["sudh"]

['suma', 'kumar', 4356, 'sudh']

In [122]:
l1*2

['suma', 'kumar', 4356, 'suma', 'kumar', 4356]

In [123]:
l1

['suma', 'kumar', 4356]

In [124]:
l1[0] =4356455634564

In [125]:
l1

[4356455634564, 'kumar', 4356]

In [126]:
l1[1]

'kumar'

In [134]:
s = "suma"

In [135]:
s[0] = "k"

TypeError: 'str' object does not support item assignment

In [136]:
l1

[4356455634564, 'kumar', 4356]

In [137]:
l[1] = "suma"

In [138]:
s.replace('s','v')

'vuma'

In [139]:
s

'suma'

In [140]:
s[0] = 'v'

TypeError: 'str' object does not support item assignment

In [141]:
l1

[4356455634564, 'kumar', 4356]

In [142]:
len(l1)

3

In [143]:
 345 in l1

False

In [144]:
l = ['okay','kumar', 78,45,789,5.5,True, 5+8j]
l[-1:6:-1]

[(5+8j)]

In [145]:
l2

['xyz', 'pqr', 546.567]

In [146]:
l2.append("suma")

In [147]:
l2

['xyz', 'pqr', 546.567, 'suma']

In [148]:
l2.pop()

'suma'

In [149]:
l2.pop(3)

IndexError: pop index out of range

In [150]:
l2.pop(2)

546.567

In [151]:
l2

['xyz', 'pqr']

In [152]:
l2

['xyz', 'pqr']

In [153]:
l2.append(345435)

In [154]:
l2

['xyz', 'pqr', 345435]

In [155]:
l2.insert(1,"dsgadfgda")

In [156]:
l2

['xyz', 'dsgadfgda', 'pqr', 345435]

In [157]:
l2.insert(3,[34,45,56,576,67])

In [158]:
l2

['xyz', 'dsgadfgda', 'pqr', [34, 45, 56, 576, 67], 345435]

In [160]:
l2

['xyz', 'dsgadfgda', 'pqr', [34, 45, 56, 576, 67], 345435]

In [161]:
l2[::-1]

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [162]:
l2.reverse()

In [163]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [164]:
l1

[4356455634564, 'kumar', 4356]

In [165]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [166]:
l2[1][2]

56

In [167]:
l2[1][2]

56

In [168]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [169]:
l2.count('xfddsfsfyz')

0

In [170]:
l2.append("dssafasf")

In [171]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz', 'dssafasf']

In [172]:
l2.append([3,4,54,6])

In [173]:
l2

[345435,
 [34, 45, 56, 576, 67],
 'pqr',
 'dsgadfgda',
 'xyz',
 'dssafasf',
 [3, 4, 54, 6]]

In [174]:
l1

[4356455634564, 'kumar', 4356]

In [175]:
l1.extend([2,54,656, "sdfs"])

In [176]:
l1

[4356455634564, 'kumar', 4356, 2, 54, 656, 'sdfs']

In [177]:
print(l2.reverse())

None

In [179]:
l1=[43,4343]
l1+list('suma')
l1+['suma']

[43, 4343, 'suma']

In [180]:
list("suma")

['s', 'u', 'm', 'a']

In [181]:
s.endswith("")

True

In [182]:
s

'suma'

In [184]:
l = ["suma " , 345,4354353,4353]

In [185]:
l.append("kumar")

In [186]:
l

['suma ', 345, 4354353, 4353, 'kumar']

In [187]:
l.append([2,3,4,5,6])

In [188]:
l

['suma ', 345, 4354353, 4353, 'kumar', [2, 3, 4, 5, 6]]

In [189]:
l.extend([1,2,3,4])

In [190]:
l

['suma ', 345, 4354353, 4353, 'kumar', [2, 3, 4, 5, 6], 1, 2, 3, 4]

In [191]:
[2,3,4,4,5,76]  + [4,5,6,77]

[2, 3, 4, 4, 5, 76, 4, 5, 6, 77]

In [192]:
"fdsaffsafsafd afsa saf asdfa sdsaf afsad ".split('&')

['fdsaffsafsafd afsa saf asdfa sdsaf afsad ']

In [193]:
3 +4j

(3+4j)

In [195]:
L=['suma', 'kumar', 3543, 4+6j, True, 345.6]
L[-1:6]

[345.6]

In [196]:
"dfdasfasfda\tsafasf\t\tfadsfsafdsaf\t".expandtabs()

'dfdasfasfda     safasf          fadsfsafdsaf    '

In [ ]:
a = "I am working in Google"

a[0:-10:-1] #gives blank 
a[0:-100:-1] # gives ‘I’
#Can you please explain this?

'I'

In [201]:
a = "I am working in Google"

In [202]:
a[0:-10:-1]

''

In [203]:
a[0:-100:-1]

'I'

In [204]:
a[0::-1]

'I'

In [ ]:
l2=['prweu', 5345]
l3=l2
l3[0]='newatl3'
print(l3)
print(l2)
#o/p ['newatl3', 5345]
#o/p ['newatl3', 5345] 
#why it has changed l2?


s1='suma'
s2=s1
s2='newdata'
print(s1)                # in this case why it has not changed s1?
print(s2)                # as strings are immutable

['newatl3', 5345]
['newatl3', 5345]
suma
newdata

In [209]:
l2=['prweu', 5345]
l3=l2

In [210]:
l2

['prweu', 5345]

In [211]:
l3

['prweu', 5345]

In [212]:
l3 = [4,5,6,7,7]

In [213]:
l3[0] = "dsfdsafsa"

In [214]:
l3[0] = "suma"

In [215]:
l3

['suma', 5, 6, 7, 7]

In [216]:
l2

['prweu', 5345]

In [217]:
s1='suma'
s2=s1
s2='newdata'

In [218]:
s2

'newdata'

In [219]:
s1

'suma'

In [220]:
l1= [569, "Suma", "Raj"]

In [221]:
g = l1[2].replace('v',"s")

In [222]:
l1.pop()

'Raj'

In [223]:
l1.append(g)

In [224]:
l1.pop(2)

'Raj'

In [225]:
l1

[569, 'Suma']

In [226]:
l=['ved', 12,True]
l[0]=str(l[0].replace('e', 'E') )

In [227]:
l

['vEd', 12, True]

In [228]:
s = 'USA fdf'

In [229]:
s.isupper()

False

In [230]:
l = ["Suma" , "Jay" , "9999" , 9+9j , True , 99.9]

In [231]:
l[3].imag

9.0

In [232]:
l[3].real

9.0

In [233]:
s = ['abc','pqr','xyz']
s.pop(1)

'pqr'

In [234]:
" ".join("suma") + " "

's u m a '

In [235]:
s

['abc', 'xyz']

In [236]:
s = "suma"

In [238]:
s.index('a')

3

In [239]:
l = [3,4,5,6]

In [240]:
l.index(5)

2

In [241]:
s = "suma"

In [256]:
list1 = [43,4343]
l1+list('suma')
l1+['suma']

TypeError: 'list' object is not callable

In [258]:
l1= [43,4343]

In [259]:
l1+list('suma')

TypeError: 'list' object is not callable

In [249]:
list("suma")

TypeError: 'list' object is not callable

In [250]:
l1+['suma']

[43, 4343, 'suma']

In [257]:
list("suma")

TypeError: 'list' object is not callable

In [2]:
l = [4,5,6,6]

In [7]:
l.insert(-1,45)

In [8]:
l

[4, 5, 6, 'sudh', 45, 45, 6]

In [5]:
l.insert(3,"sudh")

In [6]:
l

[4, 5, 6, 'sudh', 45, 6]

In [10]:
type(l[3])

str

In [ ]:
s = "sudh"

In [ ]:
l2 =[1,2]
l2[2] = 3 Why can't assign l2[2] = 3

In [11]:
a = 'i am working with ineuron'
a[-5:5:-1]

'eni htiw gnikro'